@define-color dark-gray #0c0c0c;
@define-color light-gray #2e2e2e;

* {
    color: white;
    border: none;
    border-radius: 1;
    min-height: 0;
    font-family: 'Monaspace Neon NF';
    font-size: 12px;
    transition: none;
}



window#waybar {
    /* background-color: alpha(#2e2e2e, 0.7); */
    background-color: transparent;
    border-radius: 18px;
    padding: 0;
}

window#waybar.empty #window {
    background: transparent;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: transparent;
    padding: 0;
    margin: 0;
}

#waybar.empty .modules-center {
    opacity: 0;
}

#workspaces {
    padding: 5px;
    margin: 2px 0px;
    border-radius: 15px;
    background-color: @dark-gray;
    opacity: 1;
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 0px;
    min-width: 9px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#workspaces button.active {
    border-radius: 18px;
    background: alpha(white, 0.2);
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

#workspaces button:hover {
    border-radius: 18px;
    background: transparent;
    opacity: 1;
}

#workspaces button.urgent {
    border-radius: 18px;
    background: alpha(#f13333, 0.5);
    opacity: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
    padding-right: 5px;
    padding-left: 5px;
}

#battery,
#pulseaudio,
#custom-screenrecording-indicator,
#custom-update {
    min-width: 12px;
    margin: 0 7.5px;
}

#tray {
    background: alpha(white, 0.0);
    border-radius: 16px;
    padding: 0px 0px;
    margin: 0 2px;
    margin-right: 0px;
}

#clock {
    font-size: 13px;
    font-weight: 700;
}

#pulseaudio {
    margin-right: 5px;
}

#bluetooth {
    margin-right: 0px;
}

#custom-idle-indicator,
#custom-notification-silencing-indicator {
    margin-right: 2px;
    min-width: 15px;
}

#network {
    margin-right: 9px;
}

tooltip {
    background: @dark-gray;
    border: 1px solid alpha(white, 0.2);
    border-radius: 4px 4px 11px 11px;
}

tooltip label {
    color: white;
}


#custom-active_window {
    padding: 0px 6px;
    border-radius: 14px;
    background: @dark-gray;
    font-size: 12px;
}

#custom-update {
    font-size: 10px;
}

.hidden {
    opacity: 0;
}

#custom-screenrecording-indicator {
    min-width: 12px;
    margin-left: 8.75px;
    font-size: 10px;
}

#custom-screenrecording-indicator.active {
    color: red;
}

#custom-garuda {
    background: alpha(white, 0.1);
    border-radius: 99px;
    /* margin:3px; */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -3px;
    margin-right: 5px;
    padding-right: 7px;
    padding-left: 7px;

}

#cpu,
#memory {
    font-size: 18px;
    padding: 0px 1px;
}

#group_right1,
#right1 {
    margin: 2px 0px;
    font-weight: 800;
    background: @dark-gray;
    padding: 0px 6px;
    border-radius: 99px;
}


#custom-media {
    margin: 2px 0px;
    padding: 0px 6px;
    font-size: 12px;
}

.modules-left {
    margin: 2px 0px;
    padding: 0px 6px;
    border-radius: 99px;
    background: @dark-gray;
    font-size: 12px;
}
